@import "./components/modal.styl"
@import "./components/hole-position.styl"

.vue_radio-sw-shape
  display inline-block
  width 28px
  height 28px
  background-color #ffffff

  &_rectangle
    //

  &_circle
    border-radius 50%

.hole-position-tooltip
  &__label
    padding-bottom 6px

  &__radio
    display block
