html
  background $base-bg-color
  color $base-text-color
  font-size ((10px * 100%) / 16px)%
  font-family $base-font-family
  line-height 1.6
  -webkit-overflow-scrolling touch

  +below($media-screen-tablet)
    font-size ((11px * 100%) / 16px)%

body
  font-size $base-font-size
